.masthead {
  color: white;
  background: {
    color: $stratum-gray-dark;
  };
  // @include background-fill (center center);
  @include container-pad;
  &--subheader{
    font: {
      size: 1.5em;
      weight: $font-weight-bold;
    };
    opacity: 0.7;
  }
}

.section-article {
  @include container-pad;
  &--header {
    // text-align: center;
    &-group {
      margin-bottom: 1em;
    }
  }
  &--subheader {
    font: {
      size: 1.2rem;
      weight: $font-weight-bold;
    };
    opacity: 0.7;
  }
  &--icon {
    margin-bottom: $pad / 2;
  }
  &--block {
    margin-bottom: $pad / 2;
  }
  &--block-header {
    font: {
      size: 1rem;
      weight: $font-weight-bold;
    }
  }
}
.container{
    &--logo-cluster {
        @include flex;
        @include flex-align(center, middle);
        @include breakpoint(large up) {
            max-width: 80%;
        }
    }
}
.customer {
    @include flex-it(0 0 auto);
    padding: 1.5vw;
}
.logo {
    &--customer {
        height: 6vw;
        @include breakpoint(medium up) {
            height: 3vw;
        }
        @include breakpoint(large up) {
            height: 2.5vw;
        }
    }
}
