.spaced-out {
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.circle{
    border-radius: 50%;
}
.grayscale {
    filter:         grayscale(1);
    -webkit-filter: grayscale(1);
    // opacity:     $opacity-faded;
    &:hover {
        transition:         .3s linear;
        -webkit-transition: .3s linear;
        filter:             grayscale(0%);
        -webkit-filter:     grayscale(0);
        //opacity: 1 !important;
    }
}
.faded {
    @include opacity(0.6);
}
.container {
    &-image-fill {
        @include background-fill (center top);
    }
    &-color {
        &--blue {
            background: $blue;
            color: white;
        }
        &--gray {
            background: $stratum-gray;
            background: linear-gradient(to bottom, $stratum-gray 0%, adjust-color($stratum-gray, $lightness: 15%) 100%);
            color: white;
        }
        &--gray-light {
            background: $gray-11; //adjust-color($stratum-gray, $lightness: 15%);
            // color: white;
        }
        &--gray-dark {
            background: $stratum-gray-dark; //adjust-color($stratum-gray, $lightness: 15%);
            color: white;
        }
        &--red {
            background: $red;
            color: white;
        }
        &--red-dark {
            background: $red-dark;
            color: white;
        }
        &--tint {
            background: black(0.5);
        }
    }
}

.callout {
    &-dark {
        background-color: rgba($black, 0.4);
        color: $white;
    }
    &-light {
        background-color: white(0.8);
        //color: $white;
    }
    &-brand--primary {
        background-color: $primary-color;
        color: $white;
    }
    &-brand--secondary {
        background-color: $stratum-gray-light;
        color: $white;
    }
    &--hover { // for callouts that behave like buttons!
        transition: box-shadow 100ms ease-out;
        @include shadow(0, 0, 0.2);
        &:hover {
            @include shadow(0, 20px, 0.6);
        }
    }
}
// These make <section> tags full-width for responsive layouts.
.full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: none;
    max-width: initial;
}
// .material-icons { // overrides from default google settings
//     vertical-align: middle;
//     font-size: 140% !important;
// }

figure {
    margin: 0 0 $pad 0;
    figcaption {
        font: {
            size: 0.8rem;
            style: italic;
        }
        opacity: 0.6;
        text-align: center;
    }
}
